// @font-face {
//     font-family: 'Museo';
// 	src: url('../fonts/museo_cyrl_500_regular.eot');
// 	src: local('☺'), url('../fonts/museo_cyrl_500_regular.woff') format('woff'), url('../fonts/museo_cyrl_500_regular.ttf') format('truetype'), url('../fonts/museo_cyrl_500_regular.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Myriad';
// 	src: url('../fonts/MyriadPro-Regular.eot');
// 	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }



$openSans: "Open Sans",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$Myriad: 'Myriad',
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

body * {}

header {
    background-color: #000;
    height: 65px;
    line-height: 65px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

p.white{
    color: #fff;
}

.navbar {
    padding: 0;
    a.navbar-brand {
        color: #fff;
        font-size: 28px;
        font-family: "Times New Roman", serif;
        padding: 0;
        span {
            color: #3ECCB5;
        }
    }

    .nav-item {
        a.nav-link {
            color: #fff;
            font-family: $openSans;
            transition: color 0.3s;
            padding: 0 16px;
        }

        &.active a.nav-link {
            color: #3ECCB5;
        }

        &:hover,
        &:focus {
            a.nav-link {
                color: #3ECCB5;
                transition: color 0.3s;
            }
        }
    }
}

button.navbar-toggler{
    color: #fff;
}

#jumbo {
    height: 1048px;
    background: url(../img/cowork.jpg) no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;

    .jumbotext {
        h1 {
            font-size: 32px;
            color: #fff;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            letter-spacing: 7px;
            margin-bottom: 20px;
        }

        p {
            font-size: 19px;
            color: #fff;
            font-family: $openSans;
            letter-spacing: 8.55px;
            padding: 0;
            margin-bottom: 30px;
        }

        a {
            font-size: 16px;
            color: #fff;
            font-family: $openSans;
            width: 191px;
            height: 44px;
            background-color: #3ECCB5;
            line-height: 44px;
            text-decoration: none;
            border: none;

            &:hover,
            &:focus {
                background-color: darken($color: #3ECCB5, $amount: 20);
                text-decoration: none;
            }
        }
    }
}

#about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapText {
        max-width: 613px;
        background-color: #fff;
        padding: 60px;

        p {
            color: #000;
            font-size: 15px;
            font-family: $openSans;
        }
    }
}

.wrapText {
    max-width: 613px;
    padding: 60px;
    margin: 0 auto;

    h2.header {
        font-size: 46px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        margin-bottom: 30px;
        text-transform: uppercase;
        &.white{
            color: #fff;
        }
    }

    &.white {
        background-color: #fff;
        color: #000;
    }
    &.green {
        background-color: #3ECCB5;
        color: #fff;
    }
}

section#community {

    // display: flex;
    // justify-content: center;
    .carousel {
        .item {
            a img {
                width: 472px;
                height: 354px;
            }
        }
    }
}

.owl-theme .owl-nav {
    display: none;
}

#ploshadki {
    background-color: #3ECCB5;
}

#ploshadkiItems {
    margin-top: 10px;

    .ploshItem {
        width: 50%;
        height: 523px;
        position: relative;
        cursor: pointer;
        h2 {
            color: #fff;
            font-family: Georgia, 'Times New Roman', Times, serif;
            transform: translate(-50%, -50%);
            position: relative;
            top: 50%;
            left: 50%;
            font-size: 44px;
            text-align: center;
            transition: all 0.3s;
            opacity: 0;
        }

        &:hover,
        &:focus {
            opacity: 0.9;

            h2 {
                transition: all 0.3s;
                opacity: 1;
            }
        }
    }

    .ploshItem1 {
        background: url(../img/ploshItem1.jpg) no-repeat no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .ploshItem2 {
        background: url(../img/ploshItem2.jpg) no-repeat no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .ploshItem3 {
        background: url(../img/ploshItem3.jpg) no-repeat no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .ploshItem4 {
        background: url(../img/ploshItem4.jpg) no-repeat no-repeat;
        background-position: center center;
        background-size: cover;
    }

}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 40px 100px;
    h5 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    p {
        font-family: $openSans;
        font-size: 15px;

        &.price {
            letter-spacing: 7.2px;
            font-size: 15px;
        }
    }

    .flexDiv {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        .usluga {
            svg {
                width: 40px;
                height: 40px;
                margin-right: 15px;
            }

            p {
                display: inline-block;
            }
        }
    }

    a.bron {
        display: inline-block;
        margin-top: 30px;
        background-color: #3ECCB5;
        font-family: $openSans;
        height: 44px;
        width: 191px;
        line-height: 44px;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s;
        &:hover,
        &:focus {
            text-decoration: none;
            background-color: darken($color: #3ECCB5, $amount: 15);
            transition: all 0.3s;
        }
    }
}

section#clubCard{
    background-color: #F7F7F7;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: 40px;
    .clubCardItem{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 50px;
        .wrapSVG{
            width: 50px;
            margin-right: 25px;
        }
        svg{
            width: 40px;
        }
        p{
            font-size: 15px;
            font-family: $openSans;
            margin: 0;
        }
    }
}

section#find{
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    div#para{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);  
        z-index: -1;
      }
    .wrapText{
        p{
            font-family: $openSans;
            font-size: 16px;
        }
    }
}
.podpiska{
    p{
        font-size: 17px;
        font-family: $openSans;
    }
    input{
        width: 350px;
        margin: 0 auto;
        border: none;
        border-radius: 0;
        margin-bottom: 10px;
    }
    button[type="submit"]{
        width: 351px;
        background-color: #3ECCB5;
        color: #fff;
        border: none;
        border-radius: 0;
    }
}

footer{
    background-color: #333333;
    height: 84px;
    line-height: 84px;
    color: #BAB8B8;
    p{
        font-size: 18px;
        margin: 0;
    }
    a{
        i{
            color: #BAB8B8;
            margin-left: 15px;
            font-size: 22px;
        }
    }
}

.hamburger.is-active:hover, .hamburger:hover {
    opacity: 1;
}
.hamburger{
    background-color: #fff;
    height: 65px;
    width: 70px;
}
button:focus {
    outline: none;
}